{% for c in critic_mps %}
    <div class="nk-notification-item dropdown-inner">
        <div class="nk-notification-icon">
            <em class="icon icon-circle bg-danger-dim ni ni-info"></em>
        </div>
        <div class="nk-notification-content">
            <div class="nk-notification-text text-md"><strong>La matière
            première {{ c.libelle }} à atteint sa quantité critique.</strong></div>

        </div>
    </div>


{% endfor %}

{% for c in critic_pfs %}

    <div class="nk-notification-item dropdown-inner">
        <div class="nk-notification-icon">
            <em class="icon icon-circle bg-danger-dim ni ni-info"></em>
        </div>
        <div class="nk-notification-content">
            <div class="nk-notification-text text-lg"><strong>Le produit
            fini {{ c.libelle }} à atteint sa quantité critique.</strong></div>

        </div>
    </div>

{% endfor %}

{% for c in critic_fournitures %}
    <div class="nk-notification-item dropdown-inner">
        <div class="nk-notification-icon">
            <em class="icon icon-circle bg-danger-dim ni ni-info"></em>
        </div>
        <div class="nk-notification-content">
            <div class="nk-notification-text"><strong>La fourniture {{ c.libelle }}
            à atteint sa quantité critique.</strong></div>

        </div>
    </div>

{% endfor %}

{% for e in expirations %}
    <div class="nk-notification-item dropdown-inner">
        <div class="nk-notification-icon">
            <em class="icon icon-circle bg-danger-dim ni ni-info"></em>
        </div>
        <div class="nk-notification-content">
            <div class="nk-notification-text">
                {% if e.get_expiration_days > 0 %}
                    <strong>Le stock de la matière première <i>{{ e.matiere_premiere.libelle }}</i> entré le {{ e.date }} expire dans {{ e.get_expiration_days }} jours !</strong>
                {% elif e.get_expiration_days <= 0 %}
                    <strong>Le stock de la matière première <i>{{ e.matiere_premiere.libelle }}</i> entré le {{ e.date }} à expiré !</strong>

                {% endif %}
            </div>
            <button hx-get="{% url 'notification-hasread' e.id %}" hx-swap="outerHTML" id="submit-btn" name="submit-entry"
                                                            class="btn btn-success bg-green-500"
                                                            style="margin-top: 31px"><em
                                                            class="icon ni ni-book-read"></em><span>signaler comme lue</span></button>

        </div>
    </div>

{% endfor %}