                          {% load static %}
                            <div class="card card-bordered">
                                <div class="card-inner-group">
                                    <div class="card-inner p-0">
                                        <table class="datatable-init-export nowrap table table-striped table-bordered"
                                               data-export-title="Export" style="border: 1px solid black;border-collapse: collapse">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Libellé</th>
                                                <th>Prix</th>
                                                <th>Quantité</th>
                                                <th>Total</th>
                                                <th>Action</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for line in lines %}
                                                <tr class="align-content-center justify-content-center"
                                                    style="height: 50px;font-size: 20px;font-weight: bold">
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ line.produit_fini.libelle }}</td>
                                                    <td>{{ line.price }}</td>
                                                    <td><input type="number" name="qts" value="{{ line.qts }}" min="1"
                                                               class="form-control" id="regular-price" required
                                                               style="width: 60px;height: 50px;font-size: 20px;font-weight: bold"
                                                               hx-get="{% url 'change-qts-pf' line.pk %}"
                                                               hx-target="#facturation" hx-swap="innerHTML"
                                                               hx-trigger="keyup changed delay:0.9s">
                                                    </td>
                                                    <td>{{ line.get_total }} {{ line.devise }}</td>
                                                    <td>
                                                        <a href="{% url 'delete-line-pf' line.pk %}"
                                                           class="btn btn-icon btn-lg"><img
                                                                src="{% static 'images/supprimer.png' %}" alt=""
                                                                style="height: 40px;width: 40px"></a>
                                                    </td>

                                                </tr>
                                            {% endfor %}
                                            
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><h4 class="text-bold" style="color: #4B527E">Montant HT</h4></td>
                                                <td style="background-color: #FDFFAB"><h4 class="text-bold" style="color: #4B527E">{{ order.get_subtotal }} FC</h4></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><h4 class="text-bold" style="color: #4B527E">Taxes</h4></td>
                                                <td style="background-color: #FDFFAB"><h4 class="text-bold" style="color: #4B527E">{{ order.get_total_tax }} FC</h4></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><h4 class="text-bold" style="color: #4B527E">Total à payé</h4></td>
                                                <td style="background-color: #FDFFAB"><h4 class="text-bold" style="color: #4B527E">{{ order.get_total }} FC</h4></td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>

                                </div>
                            </div>
