{% extends 'bakery/base_bakery.html' %}
{% load static %}
{% block content %}
    {% include 'bakery/bakery_sidebar.html' %}
    <div class="nk-wrap">
        <div class="nk-content">
            <div class="nk-content align-content-center">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">

                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <h5 class="nk-block-title">Matière première</h5>
                                    <div class="nk-block-des">
                                        <p>detail sur la matière première : {{ mp.libelle }}.</p>
                                    </div>
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row g-3">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="product-title">Libellé</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" name="name" value="{{ mp.libelle }}" class="form-control"
                                                           id="product-title" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="product-title">Description</label>
                                                <div class="form-control-wrap">
                                                    <textarea type="text" name="desc" class="form-control text-left justify-content-start"
                                                           id="product-title" style="text-align: left;" required>
                                                        {{ mp.description }}
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="sale-price">Unité</label>
                                                <div class="form-control-wrap">
                                                    <select name="unit" class="form-control" id="sale-price" required>
                                                        {% for u in units %}
                                                            {% if mp.unite.name == u.name %}
                                                            <option selected>{{ u.name }}</option>
                                                                {% else %}
                                                            <option>{{ u.name }}</option>
                                                                
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="product-title">Quantité critique</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" name="qts" value="{{ mp.critic_qts }}" class="form-control"
                                                           id="product-title" required>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-12 mt-5">
                                            <button type="submit" class="btn btn-primary"><em
                                                    class="icon ni ni-save"></em><span>Enregistrer</span></button>
                                        </div>
                                    </form>

                                </div>
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}