<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'css/dashlite.css' %}">
    <link rel="stylesheet" href="{% static 'css/setyle.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'css/theme.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <title></title>
</head>
<body class="nk-body bg-lighter npc-general has-sidebar">
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main">

        {% block content %}
        {% endblock %}
    <div class="loader">

    </div>
    </div>
</div>

<script src="{% static 'js/bundle.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/libs/datatable-btns.js' %}"></script>
<script src="{% static 'js/example-sweetalert.js' %}"></script>
<script src="{% static 'js/alerts.js' %}"></script>

<script src="{% static 'js/charts/chart-ecommerce.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
    function melangerTableau(tableau) {
        var currentIndex = tableau.length;
        var temporaryValue, randomIndex;

        while (0 !== currentIndex) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;

            temporaryValue = tableau[currentIndex];
            tableau[currentIndex] = tableau[randomIndex];
            tableau[randomIndex] = temporaryValue;
        }

        return tableau;
    }

    var rand_color = function getRandomColor() {
        color = ["#FAEF5D", "#30A2FF", "#7E2553", "#9ADE7B", "#FF004D", "#1D2B53", "#9A031E", "#5F0F40", "#4C3A51", "#774360", "#B25068", "#E7AB79"]
        return melangerTableau(color);
    }
</script>


</body>
</html>