{% load static %}
<div
        class="nk-sidebar nk-sidebar-fixed is-dark"
        data-content="sidebarMenu"
>
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-menu-trigger">
            <a
                    href="#"
                    class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
                    data-target="sidebarMenu"
            ><em class="icon ni ni-arrow-left"></em
            ></a>
            <a
                    href="#"
                    class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
                    data-target="sidebarMenu"
            ><em class="icon ni ni-menu"></em
            ></a>
        </div>
        <div class="nk-sidebar-brand">
            <a href="{% url 'home-resto' %}" class="logo-link nk-sidebar-logo">
                <img
                        class="logo-light logo-img"
                        src="{% static 'images/pain.png' %}"
                        alt="logo"
                />
                <img
                        class="logo-dark logo-img"
                        src="{% static 'images/pain.png' %}"
                        alt="logo-dark"
                />
            </a>
        </div>
    </div>
    <!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element nk-sidebar-body">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon"
                      ><em class="icon ni ni-list-fill"></em>
                      </span>
                            <span class="nk-menu-text">Matières premières</span>
                        </a>

                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="{% url 'mp-list-pt' %}" class="nk-menu-link"><span class="nk-menu-text">Liste et stock</span></a>
                            </li>
                            <li class="nk-menu-item">
                                <a href="{% url 'entree-mp-pt' %}" class="nk-menu-link"><span class="nk-menu-text">Entrées</span></a>
                            </li>
                            
                            <li class="nk-menu-item">
                                <a href="{% url 'sortie-mp-pt' %}" class="nk-menu-link"><span class="nk-menu-text">Sorties</span></a>
                            </li>

                        </ul>

                    </li>

                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                      <span class="nk-menu-icon"
                      ><em class="icon ni ni-list-fill"></em
                      ></span>
                            <span class="nk-menu-text">Produits finis</span>
                        </a>

                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item">
                                <a href="{% url 'pf-pt-list' %}" class="nk-menu-link"><span class="nk-menu-text">Liste et stock</span></a>
                            </li>
                            <!--
                            <li class="nk-menu-item">
                                <a href="{% url 'entree-pf-pt' %}" class="nk-menu-link"><span class="nk-menu-text">Entrées</span></a>
                            </li>
                            -->
                            <li class="nk-menu-item">
                                <a href="{% url 'sortie-pf-pt' %}" class="nk-menu-link"><span class="nk-menu-text">Sorties</span></a>
                            </li>


                        </ul>
                    </li>

                    <li class="nk-menu-item">
                        <a href="{% url 'cmd-pf' %}" class="nk-menu-link">
                      <span class="nk-menu-icon"
                      ><em class="icon ni ni-bag"></em
                      ></span>
                            <span class="nk-menu-text">Ventes</span>
                        </a>
                    </li>

                    <li class="nk-menu-item">
                        <a href="{% url 'logout' %}" class="nk-menu-link">
                      <span class="nk-menu-icon"
                      ><em class="icon ni ni-account-setting"></em
                      ></span>
                            <span class="nk-menu-text">Deconnexion</span>
                        </a>
                    </li>
                </ul>
                <!-- .nk-menu -->
            </div>
            <!-- .nk-sidebar-menu -->
        </div>
        <!-- .nk-sidebar-content -->
    </div>
    <!-- .nk-sidebar-element -->
</div>
