                                            <div class="g">
                                                <ul class="pagination justify-content-center justify-content-md-start">
                                                    {% if page_obj.has_previous %}
                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ page_obj.previous_page_number }}{% if date1 %}&date1={{ date1 }}{% endif %}{% if date2 %}&date2={{ date2 }}{% endif %}{% if date1 or date2 %}&search={% endif %}">Précedent</a>
                                                        </li>
                                                        {% if page_obj.number > 3 %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="?page=1{% if date1 %}&date1={{ date1 }}{% endif %}{% if date2 %}&date2={{ date2 }}{% endif %}{% if date1 or date2 %}&search={% endif %}">1</a>
                                                            </li>
                                                            {% if page_obj.number > 4 %}
                                                                <span>...</span>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}

                                                    {% for num in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == num %}
                                                        <li class="page-item active"><a class="page-link active"
                                                                                        href="?page={{ num }}{% if date1 %}&date1={{ date1 }}{% endif %}{% if date2 %}&date2={{ date2 }}{% endif %}{% if date1 or date2 %}&search={% endif %}">{{ num }}</a>
                                                        </li>
                                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                        <li class="page-item"><a class="page-link"
                                                                                        href="?page={{ num }}{% if date1 %}&date1={{ date1 }}{% endif %}{% if date2 %}&date2={{ date2 }}{% endif %}{% if date1 or date2 %}&search={% endif %}">{{ num }}</a>
                                                        </li>
                                                        {% endif %}
                                                {% endfor %}

                                                    {% if page_obj.has_next %}
                                                       {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                                                           <span>...</span>
                                                           <li class="page-item"><a class="page-link"
                                                                                        href="?page={{ page_obj.paginator.num_pages }}{% if date1 %}&date1={{ date1 }}{% endif %}{% if date2 %}&date2={{ date2 }}{% endif %}{% if date1 or date2 %}&search={% endif %}">{{ page_obj.paginator.num_pages }}</a>
                                                        </li>
                                                           {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                                                           <li class="page-item"><a class="page-link"
                                                                                        href="?page={{ page_obj.paginator.num_pages }}{% if date1 %}&date1={{ date1 }}{% endif %}{% if date2 %}&date2={{ date2 }}{% endif %}{% if date1 or date2 %}&search={% endif %}">{{ page_obj.paginator.num_pages }}</a>
                                                        </li>

                                                           {% endif %}

                                                        <li class="page-item"><a class="page-link"
                                                                                 href="?page={{ page_obj.next_page_number }}{% if date1 %}&date1={{ date1 }}{% endif %}{% if date2 %}&date2={{ date2 }}{% endif %}{% if date1 or date2 %}&search={% endif %}">Suivant</a>
                                                        </li>

                                                    {% endif %}

                                                </ul><!-- .pagination -->
                                            </div>
