{% extends 'bakery/base_bakery.html' %}

{% block content %}
    {% include 'bakery/bakery_sidebar.html' %}
    <div class="nk-wrap">
    {% include 'bakery/reponsive-sidebar.html' %}

        {% include 'bakery/profile.html' %}
        <div class="nk-content">
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                           {% include 'bakery/partials/check_critics.html' %}
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">Produits finis</h3>
                                    </div><!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1"
                                               data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">

                                                    <li class="nk-block-tools-opt">
                                                        <a href="#" data-target="addProduct"
                                                           class="toggle btn btn-icon btn-primary d-md-none"><em
                                                                class="icon ni ni-plus"></em></a>
                                                        <a href="#" data-target="addProduct"
                                                           class="toggle btn btn-primary d-none d-md-inline-flex"><em
                                                                class="icon ni ni-plus"></em><span>Nouveau produit fini</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                </div><!-- .nk-block-between -->
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="card card-bordered">
                                    <div class="card-inner-group">
                                        <div class="card-inner p-0">
                                            <table class="datatable-init-export nowrap table table-striped"
                                                   data-export-title="Export">
                                                <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Libellé</th>
                                                    <th>Description</th>
                                                    <th>Type de produit</th>
                                                    <th>Prix</th>
                                                    <th>Quantité en stock</th>
                                                    <th>Unité</th>
                                                    <th>Qts entrée aujourd'hui</th>
                                                    <th>Qts sortie aujourd'hui</th>
                                                    <th>Quantité critique</th>
                                                    <th></th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for pf in pfs %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ pf.libelle }}</td>
                                                        <td>{{ pf.description }}</td>
                                                        <td>{{ pf.type_produit }}</td>
                                                        <td>{{ pf.price }} Fc</td>
                                                        {% if pf.in_stock > pf.critic_qts %}
                                                        <td class="bg-success text-black">{{ pf.in_stock }}</td>
                                                        {% else %}
                                                        <td class="bg-danger text-white">{{ pf.in_stock }}</td>
                                                        {% endif %}

                                                        <td>{{ pf.unite.name }}</td>
                                                        <td>{{ pf.qts_enters }} {{ pf.unite.name }}(s)</td>
                                                        <td>{{ pf.qts_out }} {{ pf.unite.name }}(s)</td>
                                                        <td>{{ pf.critic_qts }} {{ pf.unite.name }}</td>
                                                        <td class="center">
                                                            <ul class="nk-tb-actions gx-1 my-n1">
                                                                <li class="me-n1">
                                                                    <div class="dropdown">
                                                                        <a href="#"
                                                                           class="dropdown-toggle btn btn-icon btn-trigger"
                                                                           data-bs-toggle="dropdown"><em
                                                                                class="icon ni ni-more-h"></em></a>
                                                                        <div class="dropdown-menu dropdown-menu-end">
                                                                            <ul class="link-list-opt no-bdr">
                                                                                <li>
                                                                                    <a href="{% url 'delete-pf' pf.pk %}"><em
                                                                                            class="icon ni ni-trash"></em><span
                                                                                            class="text-danger">Supprimer</span></a>
                                                                                </li>
                                                                                <li>
                                                                                    <a href="{% url 'pf-detail' pf.pk %}"><em
                                                                                            class="icon ni ni-edit"></em><span
                                                                                            class="text-warning">Modifier</span></a>
                                                                                </li>

                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <li><a href="#" class="hidden btn btn-primary eg-swal-av2" id="success" style="display: none">Advanced 02</a></li>
    <li><a href="#" class="hidden btn btn-primary eg-swal-av23" id="error" style="display: none">Advanced 02</a></li>

    {% include 'bakery/forms/pf_form.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>
                    window.onload = function () {
                        document.getElementById('success').click();
                    };
                </script>
            {% else %}
                <script>
                    window.onload = function () {
                        document.getElementById('error').click();
                    };
                </script>
            {% endif %}
        {% endfor %}

    {% endif %}


{% endblock %}