{% load static %}

<div class="row h-50" style="height: 50px;">
    <div class="col-xxl-6 col-md-6">
        <div class="card border-2">
            <div class="nk-ecwg nk-ecwg8">
                <div class="card-inner">
                    <div class="card-title-group mb-3">
                        <div class="card-title">
                            <h6 class="title">Chiffres d'affaires</h6>
                        </div>
                        <div class="card-tools">
                        </div>

                    </div>

                    <form method="get" action="{% url 'filter-chf-pf' %}" hx-get="{% url 'filter-chf-pf' %}"
                          hx-target="#total-cost" hx-swap="innerHTML" hx-trigger="change">
                        <div class="row justify-center text-center">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="form-label text-center">Filtrer par période</label>
                                    <div class="form-control-wrap">
                                        <div class="input-daterange input-group">
                                            <div class="input-group-addon">Année</div>
                                            <select name="year" class="form-control text-lg" id="sale-price"
                                                    required>
                                                {% for year in years %}
                                                    {% if year == actual_year %}
                                                        <option class="text-lg" selected>{{ year }}</option>
                                                    {% else %}
                                                        <option class="text-lg">{{ year }}</option>
                                                    {% endif %}

                                                {% endfor %}
                                            </select>

                                            <div class="input-group-addon">Mois</div>
                                            <select name="month" class="form-control" id="month1" required>
                                                <option>Aucun</option>
                                                {% for m in months %}
                                                    {% if m == actual_month %}
                                                        <option selected>{{ m }}</option>
                                                    {% else %}
                                                        <option>{{ m }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <div id="total-cost">
                    <canvas id="sales-chart">
                    </canvas>

                    <script>
                        var sales_mth = document.getElementById('sales-chart');
                        new Chart(sales_mth, {
                            type: 'bar',
                            data: {
                                labels: [{% for data in total_cost %}'{{ data.date }}',{% endfor %}],
                                datasets: [{
                                    label: "Chiffre d'affaires",
                                    backgroundColor: rand_color(),
                                    data: [{% for data in total_cost %}{{ data.total_price }}, {% endfor %}],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    </script>

                </div>
            </div><!-- .card-inner -->
        </div>
    </div><!-- .card -->


    <div class="col-xxl-4 col-md-6 mb-3">
        <div class="card card-full border-2">
            <div class="nk-ecwg nk-ecwg7">
                <div class="card-inner flex-grow-1">
                    <div class="card-title-group mb-3">
                        <div class="card-title text-center justify-content-center align-center">
                            <h6 class="title text-center">Repartition des ventes de produits finis</h6>
                        </div>

                    </div>

                    <form method="get" hx-get="{% url 'filter-total-sale-pf' %}"
                          hx-target="#total-cmd" hx-swap="innerHTML" hx-trigger="change">
                        <div class="row justify-center text-center">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label class="form-label text-center">Filtrer par date</label>
                                    <div class="form-control-wrap">
                                        <div class="input-daterange input-group">
                                            <div class="input-group-addon">Du</div>
                                            <input type="date" name="date1" value="{{ first_day }}"
                                                   class="form-control" required/>
                                            <div class="input-group-addon">Au</div>
                                            <input type="date" name="date2" value="{{ date1 }}"
                                                   class="form-control"/>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <!-- Ici -->
                    <div id="total-cmd">
                        <canvas id="sales-pv-chart">
                        </canvas>

                        <script>
                                var sales_pv_jr = document.getElementById('sales-pv-chart');
                                new Chart(sales_pv_jr, {
                                    type: 'doughnut',
                                    data: {
                                        labels: [{% for data in pfs %}'{{ data.libelle }}',{% endfor %}],
                                        datasets: [{
                                            label: 'Total des ventes',
                                            backgroundColor: rand_color(),
                                            data: [{% for data in pfs %}{{ data.total_sale }}, {% endfor %}],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            y: {
                                                beginAtZero: true
                                            }
                                        }
                                    }
                                });
                            </script>

                    </div>


                </div><!-- .card-inner -->
            </div>
        </div><!-- .card -->
    </div><!-- .col -->
</div>

<div class="card card-full border-2 mt-3">
    <div class="card-inner p-0">
        <div class="card-title-group">
            <div class="card-title">
                <h6 class="title">Entrées et sorties par période</h6>
            </div>

        </div>
            <div class="row justify-center text-center">
                <div class="col-lg-8">
                    <form method="get" hx-get="{% url 'filter-entry-out-pf' %}"
                          hx-target="#total-entry-out" hx-swap="innerHTML" hx-trigger="change">
                        <div class="row justify-center text-center">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label class="form-label text-center">Filtrer par date</label>
                                    <div class="form-control-wrap">
                                        <div class="input-daterange input-group">
                                            <div class="input-group-addon">Du</div>
                                            <input type="date" name="date1" value="{{ date1 }}"
                                                   class="form-control" required/>
                                            <div class="input-group-addon">Au</div>
                                            <input type="date" name="date2" value="{% if date2 %}{{ date2 }}{% endif %}"
                                                   class="form-control"/>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        


    </div>
    <div class="nk-content">
        <div class="container-fluid">
            <div class="nk-content-inner">
                <div class="nk-content-body">
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner-group">
                                <div class="card-inner p-0" id="total-entry-out">
                                    <table class="datatable-init-export nowrap table table-striped bordered"
                                           data-export-title="Export">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Produit fini</th>
                                            <th>Quantité entrée</th>
                                            <th>Quantité sortie</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pf in pfs %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ pf.libelle }}</td>
                                                <td>{{ pf.qts_enters }} {{ pf.unite.name }}(s)</td>
                                                <td>{{ pf.qts_out }} {{ pf.unite.name }}(s)</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>



